@use './variables.scss' as *;

.contactPage{
    min-width: 400px;
    min-height: 400px;
    text-align: center;
    color: $brand-color;
    h1{
        margin: 30px;
        font-weight: 500;
    }
    h3{
        margin: 20px;
        
    }
    p{
        margin-top: 30px;

    }
    .contactMeIcons {
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
        display: inline-block;
        a{
            color: $brand-color; 
        }
        a:hover {
            opacity: 0.7;
        }
    }
    .ftIcon{
        margin: 0 5px;
    }
    .emailForm{
        background-color: $brand-color;
        color: white;
        padding-bottom: 30px;
        border-bottom: white solid 2px;
        padding: 30px;
        h4{
            margin: 20px;
        }
        input{
            width: 100%;
        }
        textarea{
            width: 100%;

        }
        .emailButton{
            background-color: white;
            color: $brand-color;
            border: white;
            border-radius: 5px;
            max-width: 100px;
            
        }
        .emailButton:hover{
            opacity: 0.7;
        }
    }
}