@use './variables.scss' as *;
.footer{
    background-color: $brand-color;
    margin-top: 1px;
    p{
        text-align: center;
        margin: 0;
        height: 30px;
        color: $text-color-light;

    }
}