@use './variables.scss' as *;

.header {
    position: relative;

    video{
        width: 100%;
        height: auto;
    }

    img {
        filter: brightness(60%);
        display: block;
        object-fit: fill;
        width: 2000px;
    }
    h4 {
        color: white;
        position: absolute;
        width: 300px;
        top: 10%;
        left: 0;
        right: 0;
        margin: auto;
    }
    p {
        color: white;
        position: absolute;
        top: 30%;
        right: 0;
        left: 0;
        margin: auto;
        line-height: 1.5;
        width: 400px;
    }
    .resume:hover {
        opacity: 0.7;
    }
    .resume {
        color: white;
        background-color: $brand-color;
        position: absolute;
        top: 80%;
        right: 0;
        left: 0;
        margin: auto;
        width: 165px;
    }
}