@use './variables.scss' as *;

.navwrapper {
    background-color: $brand-color;
    nav {
        display: flex;
        justify-content: space-around;
    }
    a {
        color: $text-color-light;
        font-size: 1.3em;
        text-decoration: none;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }
   
    a:hover {
        opacity: 0.5;
        color: white;
        
    }
    a:visited{
        color:white;
        }
}